<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<bean id="jsonConverter"
				class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
				<property name="supportedMediaTypes" value="text/html;charset=UTF-8" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 扫描action包，应用Spring的注解 -->
	<context:component-scan base-package="com.ai.c.cview.*" />

	<!-- 以下配置SpringMVC的拦截器 -->
	<mvc:interceptors>
		<bean id="requestResponseInterceptor" class="com.ai.c.base.interceptor.LogInterceptor"></bean>
		<bean class="com.ai.c.base.interceptor.PageLimitInterceptor"></bean>
	</mvc:interceptors>
	
	<!-- 这样静态资源就可以访问了 -->
	<mvc:default-servlet-handler />
	
	<!-- message处理见Spring例子 -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource"
		p:basename="messages/messages" />
	<!-- 异常处理见Spring例子 -->
	<!-- Mapping exception to the handler view -->
	<bean id="exceptionResolver"
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
			</props>
		</property>
	</bean>

	<!-- Spring MVC的视图配置 -->
	<import resource="mvc-view-config.xml" />
	
	<!-- 定义切面 -->
	<aop:aspectj-autoproxy />
	<bean class="com.ai.c.base.interceptor.LogAspect" />
	
	<!-- 定义异常处理 -->
	<bean class="com.ai.c.base.exceptionResolver.ExceptionResolver"/>
	

	<!-- 加载配置文件 -->
	<context:property-placeholder location="classpath*:common.properties" ignore-unresolvable="true"/>
	
</beans>