@charset "utf-8";

body,h1,h2,h3,h4,h5,h6,hr,menu,p,blockquote,ol,ul,dl,dd,td,th,figure,pre,button,input,textarea{
	margin:0;
	padding:0;
}


h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:500;
}


address,cite,dfn,em,var{
	font-style:normal;
}


code,kbd,pre,samp,tt{
	font-family:"Courier New",Courier,monospace;
}


button,input,select,textarea{
	font-size:100%;
}


fieldset,img{
	border:0;
}


ol,ul{
	list-style:none;
}


table{
	border-collapse:collapse;
	border-spacing:0;
}


a,a:hover{
	text-decoration:none;
}


blockquote,q{
	quotes:none;
}


blockquote:before,blockquote:after,q:before,q:after{
	content:'';
}


label,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="password"]{
	cursor:pointer;
}


del{
	text-decoration:line-through;
}


ins{
	text-decoration:none;
}


abbr[title],acronym[title]{
	border-bottom:1px dotted;
	cursor:help;
}


mark{
	background-color:yellow;
}


input[type=submit],input[type=button],input[type=text],input[type=password]{
	-webkit-appearance:none;
	box-sizing:content-box;
	border:0;
	border-radius:0;
	box-shadow: none;
}


body{
	font-family: Helvetica,STHeiti STXihei,Microsoft JhengHei,Microsoft YaHei,Tohoma,Arial;
	font-size:14px;
	line-height: 1.5;
}

.w_990{
	width: 990px;
	margin: 0px auto;
}
.logo{
	position: relative;
	width: 300px;
	margin: 10px 0px 0px;
	height: 60px;
}
.logo b{
	display: block;
	width: 110px;
	height: 40px;
	position: absolute;
	right: 0px;
	top: 10px;
	background: url('../images/icon/loginfont.png') no-repeat scroll 0% 0% transparent;
}
.copyright{
	margin:10px 0;
	text-align: center;
}